<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>v-for使用场景</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script type="text/javascript">
    const options = {
        data() {
            return {
                studentList: ['张三', '李四', '王五']
            }
        },
        template: `
            <ul>
                <li v-for="n in 10" :key="n">{{n}}</li>
            </ul>
            <template v-for="(item, index) in studentList" :key="index+item">
                <p>{{index+1}}-{{item}}</p>
            </template>
            <!-- 循环组件 -->
            <list-item v-for="(item,index) in studentList" :item="item" :key="index+item"></list-item>
		`,
    }
    const app = Vue.createApp(options);
    app.component('list-item',{
        props: ['item'],
        template: `
            <li>{{item}}</li>
        `
    });
    app.mount('#app');
</script>

</html>